@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #F0F0F0;
}

body {
    overflow-x: hidden;
}

.content {
    margin: auto;
    max-width: 720px;
}

h1, h2 {
    cursor: default;
    user-select: none;
}

h3 {
    font-weight: bold;
}

h4 {
    font-weight: lighter;
}

p {
    font-weight: normal;
}

.name {
    margin-bottom: 1rem;
    font-weight: normal;
    font-size: 5rem;
}

.projects {
    margin-bottom: 1rem;
    font-weight: lighter;
    font-size: 4rem;
}

.project {
    max-width: 1080px;
    margin-bottom: 3rem;
}

.project-imgs {
    display: flex;
    align-content: center;
}

.project-img {
    margin: 1rem;
    width: 6rem;
}

.socials {
    padding: 0;
}

.socials > li {
    display: inline;
    padding: 0.5rem;
}

.img-grow:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.socials > li > a > img {
    width: 3rem;
}

